<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" media="screen and (max-width : 1705px)" href="static/phone.css">

    <title>#{title}</title>
    style
        include ../static/ab.css
</head>
<body>
    <nav id="navbar">
        <div id="logo">
        <a href = "https://www.psychologytoday.com/intl/blog/our-senses-and-emotions/201802/food-is-love">
            <img src="./static/logo.jpg" alt="FoodieLover.com">
        </a>
        </div>
        <ul>
            <li class="it"><a href="/">Home</a></li>
            <li class="it"><a href="/about">About</a></li>
            <li class="it"><a href="/suggestion">Any Suggestion</a></li>
            <li class="it"><a href="/contact">Contact Us</a></li>
        </ul>
    </nav>


    <div class="div1">
        <center>
        <h1 class="h">Welcome to FoodieLover</h1>
        <p id="yha">“If more of us valued food and cheer and song above hoarded gold, it would be a merrier world.” ...</p>
        </center>
    </div>

    <section>
    <h1 id="header">Our Mission</h1>


    <center>
    <section class="sec">
        <div class="divi">
            <h1 id="ll"> About Foodie</h1>
            <p id="kl">The "foodie"—not as elitist as a gourmet, more discriminating than a glutton—was first named in print in the early 1980s.
                | The term came into use almost simultaneously in the United States and Britain. Priority goes to Gael Greene, who, in June 1980,
                | wrote in New York Magazine of a character who "slips into the small Art Deco dining room of Restaurant d'Olympe ... to graze cheeks
                | with her devotees, serious foodies."Immediately afterwards the foodie was defined in the British press. Ann Barr, features editor
                | of the London magazine Harper's & Queen, had asked readers to comment on a then-new obsession with food. Several readers'
                | responses named Paul Levy, food writer on the same magazine, as the perfect example. Levy played along, contributing an anonymous
                | article in August 1982, defining the term ("Foodies are foodist. They dislike and despise all non-foodies") and characterizing himself
                | as the "ghastly, his-stomach-is-bigger-than-his-eyes, original, appetite-unsuppressed, lip-smacking 'king foodie'".
                | The word gained currency rapidly, partly because Barr and Levy followed up with a book, The Official Foodie Handbook, published in 1984.</p>
        </div>
    </section>

    <section class="sec1">
        <div class="divi">
            <h1 id="ll">Food isLove</h1>
            <p id="kl">Chris Onstad, author of the webcomic Achewood and the author of The Achewood Cookbook, stated a dislike for the term.
            | Onstad said "There are so many words that already describe the concept of people who like food, or enjoy cooking, or enjoy knowing
            | about cooking. "Foodie": It's like the infantile diminutive—you put a "y" on the end of everything to make it childlike. We don't need it.
            | It's embarrassing. 'Girl, I'm a foodie.' Like oh my God."Many journalists, like Roberto A. Ferdman, author of Stop Calling Yourself
            | a 'Foodie' in the Washington Post, also criticize the word saying "There is a great irony in describing yourself as a food insider in
            | a way no actual food insider ever would."Ferdman claims that people who associate themselves with being a "foodie" are in fact
            | distancing themselves from the group they wish to be associated with. The author then states that there is nothing wrong with having 
            |an interest in food, in fact this popular trend is helping the food movement thrive.</p>
        </div>
    </section>
    </center>

    </section>


    <h3>Intract With Foods in Social Media</h3>

    <div id="iv">
        <a href= "https://www.instagram.com/explore/tags/food/?hl=en" class="fa fa-instagram"></a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href= "https://twitter.com/TwitterFood?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" class="fa fa-twitter"></a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href= "https://www.youtube.com/channel/UCLDOquZ6Uh_zLixGdKDujFw" class="fa fa-youtube"></a>
    </div>


    <footer class="f1">Desinged By &hearts; Ankit Upadhyay</footer>

</body>
</html>