<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" media="screen and (max-width : 1705px)" href="static/phone.css">

    <title>#{title}</title>
    style
        include ../static/s.css
</head>
<body>
    <nav id="navbar">
        <div id="logo">
        <a href = "https://www.psychologytoday.com/intl/blog/our-senses-and-emotions/201802/food-is-love">
            <img src="./static/logo.jpg" alt="FoodieLover.com">
        </a>
        </div>
        <ul>
            <li class="it"><a href="/">Home</a></li>
            <li class="it"><a href="/about">About</a></li>
            <li class="it"><a href="/suggestion">Any Suggestion</a></li>
            <li class="it"><a href="/contact">Contact Us</a></li>
        </ul>
    </nav>


    <div class="div1">
        <center>
        <h1 class="h">Welcome to FoodieLover</h1>
        <p>“If more of us valued food and cheer and song above hoarded gold, it would be a merrier world.” ...</p>
        </center>
    </div>

    
    <h1 id="header">Suggestion Page</h1>

    <section>

    <center>
        <form action="/suggestion" method="post" id = 'f1'>
            <input type="text" name="name" placeholder="Enter Your Name" id="na">
            <input type="text" name="email" placeholder="abc7784@gmial.com" id="ag">
            <select id="sel" name="opss">
                <option>Suggestion in which area?</option>
                <option>Custom page</option>
                <option>Design</option>
                <option>Responsive Website</option>
                <option>Other(Do Mail)</option>
            </select>
            <textarea name="more" id="mor" cols="121" rows="10" placeholder="Any Suggestion"></textarea>

            <button class="for1" id="sub">Send Suggestion</button>
        </form>
    </center>
        
    </section>

    <h3>Intract With Foods in Social Media</h3>

    <div id="iv">
        <a href= "https://www.instagram.com/explore/tags/food/?hl=en" class="fa fa-instagram"></a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href= "https://twitter.com/TwitterFood?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" class="fa fa-twitter"></a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href= "https://www.youtube.com/channel/UCLDOquZ6Uh_zLixGdKDujFw" class="fa fa-youtube"></a>
    </div>


    <footer class="f1">Desinged By &hearts; Ankit Upadhyay</footer>

</body>
</html>